* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full screen */
html, body {
    width: 100%;
    height: 100%;
}

/* Background video */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Center content */
.overlay {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.overlay img {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
}